<!doctype html>
<html class="no-js">
    <head>
        {{>html-head}}
    </head>
    <body>
        <div class="page{{#if transparent-header}} transparent-header{{/if}}">
            {{>header}}
                
            <div class="main">
                {{> body }}
            </div>
            
            {{>footer}}
        </div>

        {{>before-body}}
    </body>
</html>