<!doctype html>
<html class="no-js">
    <head>
        <title>{{#if title}}Geebird&Bamby™ | {{title}}{{else}}Geebird&Bamby™{{/if}}</title>
        {{>html-head}}
    </head>
    <body>
        <div class="page transparent-header">
            {{>header}}

            <div class="main">
                {{> body }}
            </div>

            {{>footer}}
        </div>

        {{includeSvgSprite "app/images/icon-sprite.svg"}}
        {{>before-body}}
    </body>
</html>
