<!doctype html>
<html class="no-js">
    <head>
        <title>{{title}} | Geebird&Bamby™</title>
        {{>html-head}}
    </head>
    <body>
        <div class="page{{#if transparent-header}} transparent-header{{/if}}">
            {{>header}}

            <div class="main">
                {{> body }}
            </div>

            {{>footer}}
        </div>

        {{includeSvgSprite "app/images/icon-sprite.svg"}}
        {{>before-body}}
    </body>
</html>
