.artwork-details {
    padding: 0 63px;
    
    h1 , .series , .starting , h3 {
        font-size: 20px;
        line-height: 80px;
        display: inline-block;
    }
    
    .series , .starting, p {
        font-size: 16px;
        margin-left: 30px;
        color: #999999;
    }
    
    .starting {
        margin-left: 0px;
        margin-right: 20px;
    }
    
    .show-availabilty {
        float: right;
    }
    
    .buying-options {
        padding-bottom: 43px;
        
        table {
            width: 100%;
            font-size: 16px;
            margin-bottom: 14px;
            
            td {
                padding: 9px 0;
            }
            
            tbody {
                color: #999;
            }
            
            thead {
                color: white;
            }
            
            .subtable {
                margin-bottom: 0;
                
                td {
                    padding: 0;
                }
            }
        }
        
        .col-1 {
            width: 417px;
        }
        
        .col-2 {
            width: 192px;
            
            select {
                width: 192px;
            }
        }
        
        .col-3 {
            width: 117px;
        }
        
        .col-4 {
            width: 174px;
            
            .button , .hint-box{
                width: 100%;
            }
                
        }
    }
    
    .price {
        color: #4b9e70;
        font-size: 24px;
        text-align: center;
        vertical-align: middle;
    }
}