.blog {
    @extend $typewriter;
    font-size: 16px;
    font-weight: normal;
    
    & > * {
        padding-left: 33px;
    }
    
    time {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 30px;
        display: block;
    }
    
    strong, em {
        font-weight: bold;
    }
    
    h1 {
        font-family: 'nimbussanbold';
        font-size: 20px;
        margin-bottom: 44px;
        width: 70%;
        line-height: 1.1;
    }
    
    h2 , h3 {
        font-size: 14px;
        font-weight: bold;
        margin-top: 36px;
        margin-bottom: 30px;
        width: 70%;
    }
    
    h4 {
        font-weight: bold;
        font-size: 14px;
        width: 70%;
    }
    
    p {
        line-height: 26px;
        margin-bottom: 26px;
        width: 70%;
    }
    
    p + h1 {
        margin-top: 70px;
    }
    
    a {
        text-decoration: underline;
        font-weight: bold;
    }
    
    .collapsed {
        .a {
            display: none;
            
            &:nth-child(2) {
                display: block;
            }
            
            &:nth-child(3) {
                display: block;
                
                &:after {
                    content: "…";
                }
            }
        }
        p {
            display: none;
        }
   }
    &.previews- .collapsed p {
        display: block;
    }
    &.previews- .article-link {
        display: none;
    }
    &.previews-4 .collapsed p:nth-child(2) , &.previews-4 .collapsed p:nth-child(3), &.previews-4 .collapsed p:nth-child(4) {
        display: block;
    }
    &.previews-4 .collapsed p:nth-child(5) {
        display: block;
   }
    &.previews-3 .collapsed p:nth-child(2) , &.previews-3 .collapsed p:nth-child(3) {
        display: block;
    }
    &.previews-3 .collapsed p:nth-child(4) {
        display: block;
    }
    &.previews-2 .collapsed p:nth-child(2) {
        display: block;
    }
    &.previews-2 .collapsed p:nth-child(3) {
        display: block;
    }
    &.previews-1 .collapsed p:nth-child(2) {
        display: block;
    }
    
    .flexslider {
        padding-left: 0;
        margin-bottom: 60px;
        
        .slides li {
            position: relative;
            
            img {
                transform: translate3d(1px, 0, 0);
                margin-left: -1px;
                height: auto;
                max-width: 100%;
            }
        }
        
        figcaption {
            transform: translate3d(1px, 0, 0);
            position: absolute;
            display: block;
            bottom: 33px;
            right: 34px;
            background: white;
            padding: 8px 33px;
            font-size: 14px;
            font-weight: bold;
        }
    }

    .swiper-container , .blog-single-image {
        overflow: hidden;
        margin-bottom: 60px;
        padding-left: 0;
        position: relative;
        max-width: 100%;
        display: block;

        figcaption {
            transform: translate3d(1px, 0, 0);
            position: absolute;
            display: block;
            bottom: 33px;
            right: 34px;
            background: white;
            padding: 8px 33px;
            font-size: 14px;
            font-weight: bold;
        }
    }
    
    article + article {
        margin-top: 120px;
    }
    
    .back-button {
        margin-top: 60px;
        
        a {
            text-decoration: none;
        }
    }
}