.collection-thumbnails-wrapper {
    width: 1024px;
    height: 980px;
    position: relative;
    overflow: hidden;
}

.collection-thumbnails {
    overflow: hidden;
    background-size: 100%;
    
    li {
        float: left;
        width: 256px;
        height: 256px;
        
        
        &.collection-title {
            width: 512px;
            
            h1 {
                text-indent: -3000%;
            }
        }
        
        a {
            position: relative;
            width: 100%;
            height: 100%;
            text-indent: -3000%;
            display: block;
            overflow: hidden;
            
            span {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%) translateY(100%);
                display: block;
                text-indent: 0;
                color: black;
                transition: all 0.5s ease-in-out;
            }
            
            &:before {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-image: url(../images/tnw-collection/tnw-thumb-sprite.jpg);
                background-size: 400% auto;
                filter: grayscale(100%) brightness(0.3);
                transition: all 0.5s ease-in-out;
            }
            
            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                background-image: url(../images/tnw-collection/thumb-logos.png);
                background-size: 400% auto;
                transition: all 0.3s ease-in-out;
            }
            
            &:hover , &.hover {
                &:before {
                    filter: grayscale(0%) brightness(1);
                }
                
                 &:after {
                     transform: scale(0.8);
                     opacity: 0;
                 }
                 span {
                     transform: translateX(-50%) translateY(0);
                 }
            }
            
            &.the-modern-gentleman {
                &:after {
                    
                }
            }
            
            &.fox-theatre {
                &:before , &:after {
                    background-position: -256px 0;
                }
            }
            
            &.trans-pacific-terminal {
                &:before , &:after {
                    background-position: -512px 0;
                }
            }
            &.all-mart {
                &:before , &:after {
                    background-position: -768px 0;
                }
            }
            &.the-goodlife {
                &:before , &:after {
                    background-position: 0 -256px;
                }
            }
            &.liquor-swamp {
                &:before , &:after {
                    background-position: -256px -256px;
                }
            }
            &.broken-hearts-hotel {
                &:before , &:after {
                    background-position: 0 -512px;
                }
            }
            &.ever-mall {
                &:before , &:after {
                    background-position: 0px -512px;
                }
            }
            &.oasis-diner {
                &:before , &:after {
                    background-position: -256px -512px;
                }
            }
            &.world-of-drugs {
                &:before , &:after {
                    background-position: -512px -512px;
                }
            }
            &.broken-hearts-hotel {
                &:before , &:after {
                    background-position: -768px -512px;
                }
            }
        }
    }
 
    &.collection-mart {
        height: 1418px;
        width: 1418px;
        position: relative;
        transform: rotate(45deg);
        position: absolute;
        left: -200px;
        top: -219px;

        li {
            width: 402px;
            height: 1418px;
            z-index: 3;

            &:first-child , &:last-child {
                width: 508px;
            }

            &:last-child {
            }

            a {
                transition: all 0.3s ease-in-out;
                z-index: 2;

                &:before {
                    background-image: url(../images/mart-collection/mart_collection_1x_rotate.jpg);
                    background-size: 100% auto;
                    background-position: 0 0;
                    background-repeat: no-repeat;
                    width: 1418px;
                    height: 1418px;
                }

                &:after {
                    display: none;
                }
                
                &.free {
                    &:before {
                    }
                }
                
                &.forever-sunshine {
                    z-index: 3;

                    &:before {
                        background-position: -508px 0;
                    }
                }

                &.the-isle {
                    &:before {
                        background-position: -910px 0 ;
                    }
                }

                &.hover {
                }
            }
        }
    }
}