#navigation-toggle {
    position: absolute;
    left: -3000%;
}

.main-nav {
    position: absolute;
    right: 32px;
    top: 0;
    overflow: hidden;
    transform: translate3d(0,-100%,0);
    transition: all 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    margin-top: 48px;
    
    .closed , .open {
        transition: transform 0.5s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    }
    
    #navigation-toggle:checked + & {
        transform: translate3d(0,0,0);
        margin-top: 0px;
        
        label {
        }
        
        .closed, .open {
            transform: translate3d(0,-63px,0);
        }
    }
    
    li {
        width: 192px;
        height: 48px;
        display: block;
        background: white;
        border-bottom: 2px solid #eee;
        transition: 0.3s all;
        
        &:last-child {
            border-bottom: none;
        }
        
        &.active {
            background: #eee;
        }

        &:hover {
            background: black;
            color: white;

           a {
               color: white;
           }
        }
    }

    .grey-nav & li , .grey-nav & .cart-link {
        background: #eee;
    }

    a {
        width: 100%;
        display: block;
        line-height: 46px;
        font-size: 16px;
        padding-left: 32px;
        color: black;
        transition: 0.3s all;
    }
    
    .cart-link {
        background: white;
        width: 144px;
        height: 48px;
        line-height: 48px;
        float: right;
        font-size: 20px;
        position: relative;
        transition: 0.3s all;
        display: none;
                
        &[data-item-count]:after {
            content: attr(data-item-count);
            background: #4b9e70;
            border-radius: 50%;
            width: 28px;
            height: 28px;            
            display: block;
            position: absolute;
            right: 32px;
            top: 10px;
            line-height: 30px;
            color: white;
            font-size: 14px;
            text-align: center;
        }
        
        &.hasItems {
            display: block;
        }
        &:hover {
            background: black;
            color: white;
        }
    }
    
    label {
        @extend $squarebutton;
        float: right;
        overflow: hidden;
    }
}