open-animation = 0.6s

.overlay-cart {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 60;
    overflow: auto;
    color: black;
    pointer-events: none;
    transition: all .7s cubic-bezier(0.785, 0.135, 0.150, 0.860);

    .icon-button, .icon-button-small, .button {
        &:hover {
            background: #a1a1a1;
            color: black;
        }
    }

    .overlay-cart-container {
        position: relative;
        height: 0;
        overflow: hidden;
        transition: all .7s cubic-bezier(0.785, 0.135, 0.150, 0.860);

        .content:before {
            width: 100%;
            height: 100%;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background: white;
        }
    }

    .header, .cart-footer , .cart-total , .row {
    }

    &.open {
        .overlay-cart-container {
            height: 100%;
        }
        top: 0;
        background: rgba(0,0,0,0.75);
        pointer-events: all;

        .overlay-cart-container .content:before,
        .header,
        .cart-total , .cart-footer,
        .button.primary.push-right {
        }

        .overlay-cart-container .content:before {
        }

        .header {
        }

        .cart-total , .cart-footer {
        }

        .cart-total {
        }

        .button.primary.push-right {
        }

        .row {
        }

    }

    .content {
        position: relative;
    }

    .logo {
        background: transparent;
        position: relative;
        z-index: 2;
    }

    .close {
        position: absolute;
        right: 32px;
        top: 0;
    }

}

.cart-table {
    padding: 64px 0;
    position: relative;

    .header {
        padding: 0 64px;
    }

    .col-1 {
        width: 192px;
    }

    .col-2 {
        width: 386px;
        padding-right: 75px;
    }

    .col-3 {
        width: 222px;
    }

    .col-4 {
        text-align: center;
        width: 91px;
    }

    .col-5 {
        width: 196px;
        padding-right: 20px;
        text-align: right;
    }

    .no-headline {
        padding-top: 43px;
    }

    .price {
        font-size: 24px;
        padding-top: 37px;
        display: block;
        text-align: right;
    }

    .row {
        min-height: 80px;
        position: relative;
        padding: 0 64px;
        margin-bottom: 32px;
        color: black;
        font-size: 16px;

        &.shipping-row {
            margin-bottom: 4px;
        }

        .remove {
            position: absolute;
            left: 0;
            margin-top: -16px;
            top: 9px;
        }

        h3 {
            font-size: 20px;
            margin-bottom: 23px;
        }

        .ups-shipping , .dhl-shipping {
            background: #2e1711;
            color: white;
            border-top: 4px solid #ffb323;
            padding: 22px 30px;
            overflow: hidden;
            position: relative;

            h2 {
                color: #ffb323;
                font-size: 20px;
                margin-bottom: 20px;
            }

            .left {
                width: 355px;
                float: left;
            }

            .price {
                position: absolute;
                right: 20px;
                bottom: 20px;
                color: #ffb323;
            }
        }

        .dhl-shipping {
            background: #ffcc00;
            color: white;
            border-top: 4px solid #cc0000;

            h2 {
                color: #cc0000;
            }

            .price {
                color: #cc0000;
            }
        }
    }

    .cart-total {
        border-top: 4px solid black;
        padding-top: 30px;
        font-size: 24px;
        margin: 0 64px;

        .price {
            float: right;
            padding-top: 0;
            padding-right: 20px;
        }
    }

    h3 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .shipping-table {
        padding-bottom: 60px;

        .header , .row {
            height: auto;
            padding: 0;
            overflow: hidden;
            margin-bottom: 15px;
        }

        .col-1 {
            width: 192px;
            color: #999999;
        }
        .col-2 , .col-3 {
            width: 257px;
            padding-right: 0;
        }
        .col-4 {
            width: 62px;
        }
    }

    .cart-footer {
        margin: 60px 64px 0;

        .primary {
            margin-left: 16px;
        }
    }
}
.spinner {
    display: flex;

    button {
        padding: 0 18px;
        line-height: 18px;

        &:hover {
            background: transparent;
            color: black;
        }
    }
}
