.chosen-container {
    position: relative;
    display: inline-block;
    zoom: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    
    .chosen-single {
        @extend button;
        white-space: nowrap;
        width: 100%;
        text-align: left;
    }
    
    &.chosen-container-single-nosearch {
        .chosen-search {
            display: none;
        }
    }
    
    .chosen-drop {
        position: absolute;
        top: 100%;
        left: -9999px;
        z-index: 1010;
        width: 100%;

        border-top: 0;
        background: #fff;

    }
    
    &.chosen-with-drop {
        .chosen-drop {
            left: 0;
        }
    }
    
    .chosen-results {
        li {
            @extend button;
            border-top: 2px solid #efefef;
            width: 100%;
            text-align: left;
            
            &.result-selected {
                display: none;
            }
        }
    }
}