[class*=-table] {

    [class^=col] {
        float: left;
        width: 192px;
    }
    
    .header {
        color: #999999;
        font-size: 16px;
        overflow: hidden;
        margin-bottom: 40px;
    }
            
}