---
template: default.hbs
transparent-header: true
---
<section class="main-stage">
    <div class="home-stage">
        <div class="flexslider" data-role="slider" data-priority="itn" data-order="random" data-start="1">
            <ul class="slides">
                <li class="itn">
                    <div class="slide-content">
                        <div class="slider-preloader">
                            <picture>
                                <source srcset="images/home/highres/inquirer_webrender_allmart_1920.jpg" media="(min-width: 1920px)">
                                <source srcset="images/home/highres/inquirer_webrender_allmart_1440.jpg, images/home/highres/inquirer_webrender_allmart_2880.jpg 2x" media="(min-width: 1440px)">
                                <source srcset="images/home/highres/inquirer_webrender_allmart_1024.jpg, images/home/highres/inquirer_webrender_allmart_2048.jpg 2x">
                                <img srcset="images/home/highres/inquirer_webrender_allmart_1024.jpg, images/home/highres/inquirer_webrender_allmart_2048.jpg 2x" alt="">
                            </picture>
                        </div>
                        <a href="in-the-news/allmart/index.html" class="button">View Piece</a>
                    </div>
                </li>
                <li class="itn">
                    <div class="slide-content">
                        <div class="slider-preloader">
                            <picture>
                                <source srcset="images/home/highres/inquirer_webrender_lsw_1920.jpg" media="(min-width: 1920px)">
                                <source srcset="images/home/highres/inquirer_webrender_lsw_1440.jpg, images/home/highres/inquirer_webrender_lsw_2048.jpg 2x" media="(min-width: 1440px)">
                                <source srcset="images/home/highres/inquirer_webrender_lsw_1024.jpg, images/home/highres/inquirer_webrender_lsw_2880.jpg 2x">
                                <img srcset="images/home/highres/inquirer_webrender_lsw_1024.jpg, images/home/highres/inquirer_webrender_lsw_2880.jpg 2x" alt="">
                            </picture>
                        </div>
                        <a href="in-the-news/allmart/index.html" class="button">View Piece</a>
                    </div>
                </li>
                <li class="itn">
                    <div class="slide-content">
                        <div class="slider-preloader">
                            <picture>
                                <source srcset="images/home/highres/inquirer_webrender_wod_1920.jpg" media="(min-width: 1920px)">
                                <source srcset="images/home/highres/inquirer_webrender_wod_1440.jpg, images/home/highres/inquirer_webrender_wod_2048.jpg 2x" media="(min-width: 1440px)">
                                <source srcset="images/home/highres/inquirer_webrender_wod_1024.jpg, images/home/highres/inquirer_webrender_wod_2880.jpg 2x">
                                <img srcset="images/home/highres/inquirer_webrender_wod_1024.jpg, images/home/highres/inquirer_webrender_wod_2880.jpg 2x" alt="">
                            </picture>
                        </div>
                        <a href="in-the-news/allmart/index.html" class="button">View Piece</a>
                    </div>
                </li>
                <li class="tnw">
                    <div class="slide-content">
                        <div class="slider-preloader">
                            <picture>
                                <source srcset="images/home/highres/tnw_bhh_1920.jpg" media="(min-width: 1920px)">
                                <source srcset="images/home/highres/tnw_bhh_1440.jpg, images/home/highres/tnw_bhh_2048.jpg 2x" media="(min-width: 1440px)">
                                <source srcset="images/home/highres/tnw_bhh_1024.jpg, images/home/highres/tnw_bhh_2880.jpg 2x">
                                <img srcset="images/home/highres/tnw_bhh_1024.jpg, images/home/highres/tnw_bhh_2880.jpg 2x" alt="">
                            </picture>
                        </div>
                        <a href="in-the-news/allmart/index.html" class="button">View Piece</a>
                    </div>
                </li>
                <li class="tnw">
                    <div class="slide-content">
                        <div class="slider-preloader">
                            <picture>
                                <source srcset="images/home/highres/tnw_fox_1920.jpg" media="(min-width: 1920px)">
                                <source srcset="images/home/highres/tnw_fox_1440.jpg, images/home/highres/tnw_fox_2048.jpg 2x" media="(min-width: 1440px)">
                                <source srcset="images/home/highres/tnw_fox_1024.jpg, images/home/highres/tnw_fox_2880.jpg 2x">
                                <img srcset="images/home/highres/tnw_fox_1024.jpg, images/home/highres/tnw_fox_2880.jpg 2x" alt="">
                            </picture>
                        </div>
                        <a href="in-the-news/allmart/index.html" class="button">View Piece</a>
                    </div>
                </li>
                <li class="tnw">
                    <div class="slide-content">
                        <div class="slider-preloader">
                            <picture>
                                <source srcset="images/home/highres/tnw_tmg_1920.jpg" media="(min-width: 1920px)">
                                <source srcset="images/home/highres/tnw_tmg_1440.jpg, images/home/highres/tnw_tmg_2048.jpg 2x" media="(min-width: 1440px)">
                                <source srcset="images/home/highres/tnw_tmg_1024.jpg, images/home/highres/tnw_tmg_2880.jpg 2x">
                                <img srcset="images/home/highres/tnw_tmg_1024.jpg, images/home/highres/tnw_tmg_2880.jpg 2x" alt="">
                            </picture>
                        </div>
                        <a href="in-the-news/allmart/index.html" class="button">View Piece</a>
                    </div>
                </li>
                <!--li class="tnw">
                    <div class="slide-content">
                        <div class="slider-preloader preloading">
                            <img class="no-anim" data-src="images/home/inquirer-liquorswamp.jpg">
                        </div>
                        <a href="in-the-news/allmart/index.html" class="button">View Piece</a>
                    </div>
                </li-->
            </ul>
        </div>
        <!--div class="ultra-slider">
            <div class="slides">
                <div class="slide active-slide">
                    <div class="slide-content">
                        <img src="images/home/inquirer-allmart.jpg" draggable="false">
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-content">
                        <img src="images/home/tnw_bhh.jpg" draggable="false">
                    </div>
                </div>
                <div class="slide">
                    <div class="slide-content">
                        <img src="images/home/tnw_fox.jpg" draggable="false">
                    </div>
                </div>
            </div>
            <nav class="direction-nav">
                <a class="prev" href="#">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-left"></use>
                    </svg>
                </a>
                <a class="next" href="#">
                    <svg>
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-right"></use>
                    </svg>
                </a>
            </nav>
        </div-->
    </div>
</section>

<div class="scroll-arrow" data-role="scroll-indicator"><svg><use xlink:href="#icon-arrow-down"/></svg></div>

<section class="content">
    <ul class="teaser grid">
        <li class="col-1-3">
            <a href="the-new-world/index.html" class="teaser-content">
                <img src="images/teaser/the-new-world.jpg">
                <span>View Series</span>
            </a>
        </li>
        <li class="col-1-3">
            <div class="teaser-content">
                <img src="images/teaser/twitter.jpg">
                <div class="tweets" data-role="tweets">
                    <h4>Activity on <a href="http://www.twitter.com/geebirdandbamby" target="_blank">@geebirdandbamby</a></h4>
                    <div class="tweet-container">
                        <ul data-bind="foreach: tweets">
                            <li data-bind="css: {active: $index() === 0}">
                                <a data-bind="text: date, attr: {href: link}" target="_blank"></a><br>
                                <div data-bind="html: tweet"></div>
                            </li>
                        </ul>
                    </div>
                    <button class="more-tweets" data-role="next-tweet">
                        <svg><use xlink:href="#icon-arrow-down"/></svg>
                    </button>
                </div>
            </div>
        </li>
        <li class="col-1-3">
            <a href="meta/about/index.html" class="teaser-content">
                <img src="images/teaser/about.jpg">
                <span class="center">About G&amp;B</span>
            </a>
        </li>
    </ul>
</section>

{{>photowall-newsletter }}
