---
template: default.hbs
slug: mart
title: Mart
transparent-header: true
---
<section class="content">
    <picture class="collection-intro-image">
        <img src="../images/mart-collection/mart_collection_header_1x.jpg" srcset="../images/mart-collection/mart_collection_header_1x.jpg, ../images/mart-collection/mart_collection_header_2x.jpg 2x" alt="">
    </picture>
    <div class="collection-thumbnails-wrapper">
        <ul class="collection-thumbnails collection-mart" data-role="one-hover">
            {{#each mart.artworks }}
                <li>
                    <a href="{{@key}}/index.html" class="{{@key}} {{#is @key "free"}}hover{{/is}}">
                        {{title}}
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
    <div class="collection-logo-mart"></div>
    <div class="collection-intro collection-intro--mart">
        <label for="collection-introduction" class="button toggle-switch"><span class="off">Show</span><span class="on">Hide</span> Introduction</label>
        <input type="checkbox" class="toggle-trigger" id="collection-introduction">
        <div class="toggle-box-container">
            <h2>Everything and nothing money can’t buy.</h2>
            <div class="toggle-box has-delay">
                <div class="scroll">
                    <p>The series “Mart” by Geebird&Bamby™ explores aspects of consumer culture by staging an ostensibly lighthearted, material world inside the American supermarket of the late 20th century.</p>
                    <p>The series’ juxtaposition of truth and invention as well as abundance and depletion echo the struggles of man with a life overexposed to advertising, torn between desire and disgust, sometimes blatantly so, at other times concealed.</p>
                    <p>The ongoing fine art photography series is presented in life-size at a dimension of 180cm x 112cm / 71" x 44". The photographic exposures are released in a single edition of 25 per piece. In addition to the Lambda C-Prints, Aluminum Dibond® and framing options are available.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{{>photowall-newsletter }}