---
template: default.hbs
slug: the-new-world
title: The New World
transparent-header: true
---
<section class="content">
    <ul class="collection-thumbnails">
        {{#each the-new-world.artworks }}
            <li>
                <a href="{{@key}}/index.html" class="{{@key}}">
                    {{title}}
                    <span class="button inverted">View Piece</span>
                </a>
            </li>
        {{/each}}
    </ul>
    <div class="collection-logo-tnw"></div>
    <div class="collection-intro">
        <label for="collection-introduction" class="button toggle-switch"><span class="off">Show</span><span class="on">Hide</span> Introduction</label>
        <input type="checkbox" class="toggle-trigger" id="collection-introduction">
        <div class="toggle-box-container">
            <h2>Anonymous Places of the 20th Century</h2>
            <div class="toggle-box has-delay">
                <div class="scroll">
                    <p>"The New World" revisits anonymous places of the 20th century. It is set in a time characterized by the conflict of Modernist and Postmodernist convictions, its influence on later 20th century history, and ultimately, the world we live in today.</p>
                    <p>On a formal level, this conflict defines the aesthetics of the collection. The interrelation of rational graphic design and anonymous photorealism reflects the contrast of manmade ideals and the acceptance of life in chaos. "The New World" is shaped by an original set of rules, metrics and processes. This enables the revelation of eclectic utopias that, for better or worse, withhold the definition of a photograph.</p>
                    <p>Manufactured in limited editions of 100 per piece, the photographic exposures, optionally laminated on DIBOND® or framed, are essentially based on the partnership's architectural photography in the United States.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{{>photowall-quote }}