<!-- artwork-single -->
{{ include 'main-stage' this }}

<section class="content">
    {{ include 'artwork-details' this }}

    {{ includeYamlStringAsContext 'artwork-finishing-teaser' this 'category' }}
</section>

{{>photowall-contact }}

{{>finishing-options-layer }}