<!-- artwork-finishing-teaser -->
<div class="teaser-container">
    <ul class="teaser grid teaser-center">
        {{#each finish-teaser}}
            <li class="col-1-3">
                <a href="#{{id}}" class="teaser-content" data-role="overlay">
                    <img class="bg" src="{{img}}">
                    <span>{{title}}</span>
                </a>
            </li>
        {{/each}}
    </ul>
</div>