{{ include 'main-stage' this }}

<section class="content">
    {{ include 'artwork-details' this }}
    
    {{ include 'artwork-finishing-teaser' the-new-world }}
</section>

{{>photowall-journal }}

{{>finishing-options-layer }}