<div class="teaser-container">
    <h3>View all three available finishing options</h3>
    <ul class="teaser grid teaser-center">
        <li class="col-1-3">
            <a href="#print-only" class="teaser-content" data-role="overlay">
                <img src="/images/teaser/finish-print.jpg">
                <span>Print only</span>
            </a>
        </li>
        <li class="col-1-3">
            <a href="#aluminium-dibond" class="teaser-content" data-role="overlay">
                <img src="/images/teaser/finish-dibond.jpg">
                <span>Aluminum Dibond&reg;</span>
            </a>
        </li>
        <li class="col-1-3">
            <a href="#framed" class="teaser-content" data-role="overlay">
                <img src="/images/teaser/finish-framed.jpg">
                <span>Framed</span>
            </a>
        </li>
    </ul>
</div>