        <div class="overlay-container"><div class="overlay-wrapper"><div class="overlay-content"><div class="overlay"></div></div></div><div class="overlay-background"></div></div>
        <script src="{{assets}}/scripts/main.js"></script>
