<!-- finishing-options-layer -->
<div class="overlay-contents">
    {{#finishing-options }}
        {{~#each options}}
            <div id="{{id}}">
                <div class="flexslider" data-role="overlay-slider">
                    <ul class="slides">
                        {{#each slides}}
                            <li>
                                <figure>
                                    <img src="{{this.src}}">
                                </figure>
                            </li>
                        {{/each}}
                    </ul>
                </div>                
                <div class="text-content">
                    <h3>{{{headline}}}</h3>
                    {{{text}}}
                </div>
            </div>
        {{/each}}
    {{/finishing-options }}
</div>