<footer class="legal-footer content">
    © 2009 - 2017 | ALL RIGHTS RESERVED | <a href="{{assets}}/meta/agb/index.html">TERMS AND CONDITIONS</a> | <a href="{{assets}}/meta/imprint/index.html">CONTACT</a>
</footer>