        <meta charset="utf-8">
        <title>{{title}} | Geebird&amp;Bamby</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <link rel="stylesheet" href="{{assets}}/styles/main.css">
        <script src="{{assets}}/scripts/vendor/modernizr.js"></script>
