<!--section class="main-stage single">
    <div class="preloader preloading">
        <img class="stage" data-src="../../images/artworks/{{image}}">
    </div>
</section-->
<section class="main-stage">
    <div class="home-stage">
        <div class="swiper-container" data-role="slider" data-start="0">
            <ul class="slides swiper-wrapper">
                {{#each images}}
                    <li class="swiper-slide">
                        <div class="slide-content">
                            <div class="slider-preloader">
                                <picture>
                                    <source data-srcset="../../images/artworks/highres/{{1680}}" media="(min-width: 1920px)">
                                    <source data-srcset="../../images/artworks/highres/{{1440}}, ../../images/artworks/highres/{{2880}} 2x" media="(min-width: 1440px)">
                                    <source data-srcset="../../images/artworks/highres/{{1024}}, ../../images/artworks/highres/{{2048}} 2x">
                                    <img data-srcset="../../images/artworks/highres/{{1024}}, ../../images/artworks/highres/{{2048}} 2x" alt="">
                                </picture>
                            </div>
                        </div>
                    </li>
                {{/each}}
            </ul>
            <div class="swiper-button-prev"><svg><use xlink:href="#icon-arrow-left"/></svg></div>
            <div class="swiper-button-next"><svg><use xlink:href="#icon-arrow-right"/></svg></div>
        </div>
    </div>
</section>