<!-- photowall-journal -->
<section class="content">
    <div data-role="photowall" class="photowall grid flat">
        <div class="photowall-content">
            <div class="newsletter">
                <div class="form-cols">
                    <p>What´s happening? Read up on our Jounal</p>
                    <a href="/journal/index.html" class="button inverted">Visit Journal</a>
                </div>
            </div>
        </div>
        <div class="wrapper"></div>
    </div>
</section>