<!-- photowall-contact -->
<section class="content">
    <div data-role="photowall" class="photowall grid flat">
        <div class="photowall-content">
            <div class="newsletter contact" data-role="contact-form">
                <div class="form-cols contact-message">
                    <p>IF YOU HAVE QUESTIONS OR NEED ASSISTANCE WITH<br> YOUR ORDER, PLEASE DON’T HESITATE TO CONTACT US.</p>
                    <button class="inverted">Get in touch</button>
                </div>
                <div class="form-cols thank-you hidden">
                    <p>We will get back to you shortly.</p>
                </div>
                <div class="form-cols contact-form hidden">
                    <form action="">
                        <div class="form-row">
                            <label>Your Name</label>
                            <input type="text" placeholder="Enter your name" class="contact-name">
                        </div>
                        <div class="form-row">
                            <label>Your E-Mail</label>
                            <input type="text" placeholder="Enter your E-Mail address"  class="contact-email">
                        </div>
                        <div class="form-row">
                            <label>Your Message</label>
                            <div class="text-input">
                                <textarea  class="contact-text"></textarea>
                            </div>
                        </div>
                        <div class="form-footer">
                            <legend>All Fields are required</legend>
                            <button class="inverted abort">Abort</button>
                            <button type="submit">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="wrapper"></div>
    </div>
</section>