<!-- photowall-newsletter -->
<section class="content">
    <div data-role="photowall" class="photowall grid flat">
        <div class="photowall-content">
            <div class="newsletter">
                <p class="success"></p>
                <div class="form-cols">
                    <p>Please join our mailing list to be informed when<br> we release new work or plan a show.</p>
                    <form data-role="mailchimp-form" action="http://geebirdandbamby.us12.list-manage.com/subscribe/post-json?u=97fb451b06e51488018177edf&id=8fa4a35b80&c=?" method="post" name="mc-embedded-subscribe-form" novalidate="">
                        <div class="mc-field-group input-submit-group">
                    	    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="your e-mail">
                            <input type="submit" value="Join" name="subscribe" id="mc-embedded-subscribe" class="button inverted">
                            <div class="error-response"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="wrapper"></div>
    </div>
</section>