<!-- photowall-quote -->
<section class="content">
    <div data-role="photowall" class="photowall grid flat">
        <div class="photowall-content">
            <div class="quote">
                <p><!--ko text: quote--><!--/ko--></p>
                <span class="author">- <!--ko text: author--><!--/ko--></span>
            </div>
        </div>
        <div class="wrapper"></div>
    </div>
</section>
